.photographer-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

.photographer-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
    transform: scale(1.5);
}

.photograph-pin-data {
    position: fixed;
    bottom: 0;
    right: 50px;
    padding: 20px 30px;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #DB8876;
}

.photograph-pin-data__likes {
    margin-right: 50px;
}

.photographer-sort-by-container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    margin: 0 100px;
}

.photographer-sort-by-container label {
    font-size: 18px;
    margin-right: 20px;
}

.photographer-sort-by-container select {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #901C1C;
    color: #FAFAFA;
}

.photographer-sort-by-container option {
    font-size: 20px;
    padding: 5px;
    color: #FAFAFA;
    background-color: #901C1C;
}









